.align
  position: relative
  &-text
    padding: 50px 100px
    overflow: auto
    white-space: normal
    &:focus
      outline: none
  &-image
    display: block
    margin: auto
    width: 100%
    max-width: 400px