.align
  position: relative
  &-content
    padding: 50px 100px
    overflow: auto
    white-space: normal
    &:focus
      outline: none

  &-title
    border: 0
    margin: 50px auto 0
    padding: 0.2em
    font-size: 40px
    min-height: 1.6em
    vertical-align: middle
    display: block
    resize: none
    &:focus
      outline: 0