/**
 * core
 */
@import '../../node_modules/@baianat/colorpicker/dist/css/colorpicker.css'

/**
 * eidtor elements
 */
@import 'variables' 
@import 'align'
@import 'styler'
@import 'blocks'


/**
 * external packages styling
 */
.picker-guide
  border-color: $white
  border: 0
  width: 20px
  height: 20px
  box-shadow: 0 0 10px alpha($black, 5%)

.picker-menu
  border: 0
  background-color: $white
  box-shadow: 0 0 25px alpha($black, 5%)

