/**
 * core
 */
@import '../../node_modules/@baianat/colorpicker/dist/css/colorpicker.css'

/**
 * eidtor elements
 */
@import 'variables' 
@import 'align'
@import 'styler'
@import 'creator'
@import 'blocks'


/**
 * external packages styling
 */
.picker-guide
  border-color: $white

.picker-menu
  background-color: rgba(255, 255, 255, 0.9)
