.picker
  position: relative
  display: flex
  justify-content: center
  box-sizing: border-box

  &-guide
    width: 24px
    height: 24px
    padding: 0
    border: 0
    background: transparent

    &:focus
      outline: 0

    svg
      width: 100%
      height: 100%
      fill: inherit

  &-square
    position: relative
    user-select: none
    overflow: hidden
    > canvas
      display: block


  &-controllers
    padding: 25px 20px

  &-menu
    position: absolute
    top: 50px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
    width: 250px
    border-radius: 4px
    background-color: $white
    box-shadow: 0 0 25px alpha($black, 5%)
    will-change: transform
    overflow: hidden

    &.is-hidden
      display: none

    &:focus
      outline: none
     

  &-recent
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    width: 100%

  &-color
    margin: 4px
    width: 28px
    height: 28px
    border-radius: 50%
    background-color: $black

  &-value
    display: none;

  &-inputs
    display: flex
  &-cursor
    position: absolute
    top: 0
    left: 0
    margin: -6px
    width: 10px
    height: 10px
    border: 1px solid alpha($white, 90%)
    border-radius: 50%
    will-change: transform
    pointer-events: none
  &-input
    padding: 5px
    margin: 0 3px
    min-width: 0
    text-align: center
    border-width: 0 0 1px 0

  &-model
  &-submit
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0
    border: 0
    text-align: center
    cursor: pointer
    background-color: transparent
    font-weight: 700
    color: $gray
    fill: $gray
    outline: none
    >.icon
      width: 20px
      height: 20px
    &:hover
      fill: $blue
      color: $blue
  .slider-fill
    display: none
