.creator
  left: 20px
  display: flex
  justify-content: center
  align-items: center
  margin: 0 0 0 -55px
  width: auto
  list-style: none
  transform: translate3d(0, -50%, 0)
  position: absolute
  z-index: 30
  border-radius: 40px

  &-optionsBar
    position: absolute
    z-index: 20
    left: 50%
    transform: translate3d(-50%, 0, 0)
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin: 0
    padding: 10px
    width: auto
    border-radius: 40px
    background-color: $white
    box-shadow: 0 0 25px alpha($black, 5%)
    list-style: none
    transition: opacity 0.2s
    &.is-visible
      visibility: visible
      opacity: 1

    &.is-hidden
      visibility: hidden
      opacity: 0

  &-menu
    list-style: none
    padding: 0
    margin: 0 20px
    display: none
 
  &-button
    position: relative
    margin: 0
    padding: 5px
    width: 30px
    height: 30px
    outline: none
    border: 0
    border-radius: 15px
    background-color: $transparent
    fill: $gray

    &:hover
      fill: $magenta

  &-input
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    top: 0
    right: 0
    bottom: 0
    left: 0
    -webkit-appearance: none
    -moz-appearance: textfield

  .icon
    fill: inherit

  &.is-active
    visibility: visible
    opacity: 1
    .creator-menu
      display: flex

  &.is-visible
    visibility: visible
    opacity: 1

  &.is-hidden
    visibility: hidden
    opacity: 0