.creator
  display: flex
  justify-content: center
  align-items: center
  width: auto
  list-style: none

  &.is-inline
    border-radius: 40px
    position: absolute
    z-index: 50
    transform: translate(-1em, -1.1em)
    .creator-menu
      display: none

  &.is-toolbar
    width: 100%
    .creator-menu
      display: flex
  
  >button
    background: alpha($gray, 0.5)
    fill: $white


  &-menu
    margin: 0 20px
    list-style: none
    padding: 0
 
  &-button
    position: relative
    margin: 0.1em 0
    padding: 5px
    width: 30px
    height: 30px
    outline: none
    border: 0
    border-radius: 15px
    background-color: $transparent
    fill: $gray

    &:hover
      fill: $magenta

  &-input
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    top: 0
    right: 0
    bottom: 0
    left: 0
    -webkit-appearance: none
    -moz-appearance: textfield

  .icon
    fill: inherit

  &.is-active
    visibility: visible
    opacity: 1
    .creator-menu
      display: flex

  &.is-visible
    visibility: visible
    opacity: 1

  &.is-hidden
    visibility: hidden
    opacity: 0