.editor
  max-height: 100vh
  &-text
    padding: 20px 100px
    overflow: auto
    white-space: normal
    margin-top: 70px
    &:focus
      outline: none
  &-image
    display: block
    margin: auto
    width: 100%
    max-width: 400px