@font-face
    font-weight: 700
    font-family: "Poppins"
    src: url(../font/Poppins/Poppins-Bold.ttf)
    
@font-face
    font-weight: 400
    font-family: "Poppins"
    src: url(../font/Poppins/Poppins-Regular.ttf)

@font-face
    font-weight: 700
    font-family: "Cairo"
    src: url(../font/Cairo/Cairo-Bold.ttf)
    
@font-face
    font-weight: 400
    font-family: "Cairo"
    src: url(../font/Cairo/Cairo-Regular.ttf)

@font-face
    font-weight: 700
    font-family: "Raleway"
    font-style: normal
    src: url(../font/Raleway/Raleway-Bold.ttf)
    
@font-face
    font-weight: 400
    font-family: "Raleway"
    font-style: normal
    src: url(../font/Raleway/Raleway-Regular.ttf)

@font-face
    font-weight: 700
    font-family: "Raleway"
    font-style: italic
    src: url(../font/Raleway/Raleway-BoldItalic.ttf)
    
@font-face
    font-weight: 400
    font-family: "Raleway"
    font-style: italic
    src: url(../font/Raleway/Raleway-Italic.ttf)

@font-face
    font-weight: 700
    font-family: "Roboto"
    font-style: normal
    src: url(../font/Roboto/Roboto-Bold.ttf)
    
@font-face
    font-weight: 400
    font-family: "Roboto"
    font-style: normal
    src: url(../font/Roboto/Roboto-Regular.ttf)

@font-face
    font-weight: 700
    font-family: "Roboto"
    font-style: italic
    src: url(../font/Roboto/Roboto-BoldItalic.ttf)
    
@font-face
    font-weight: 400
    font-family: "Roboto"
    font-style: italic
    src: url(../font/Roboto/Roboto-Italic.ttf)
