.align-line
  margin: 1em auto
  border: 0
  height: 4px
  background: transparent
  border-top: 1px solid $black
  &.is-dashed
    border-top-style: dashed
  &.is-dotted
    border-top-style: dotted
  &.is-double
    border-bottom: 1px solid $black
  &.is-bold
    border-top-width: 2px
  &.is-dots
    border-top-style: dotted
    border-top-width: 5px
    width: 25px