.align .prompt
  position: absolute
  display: flex
  z-index: 100
  top: 0
  left: 0
  display: block
  background: $white
  box-shadow: 0 0 25px alpha($black, 5%)
  padding: 10px
  color: $gray

  &-input
    border: 1px solid $gray
    padding: 0 5px
    margin: 0 10px
    line-height: 1.5em

  &-submit
    border: 0
    background: transparent
    color: $blue
    cursor: pointer

