.align-sidebar
  position: absolute
  top: 0
  right: 0
  width: 220px
  height: 100%
  transform: translateX(100%)
  transition: 0.2s
  background-color: $white
  padding: 90px 10px

  .picker
    &-guide
      stroke: $black
      stroke-width: 2px
    &-menu
      z-index: 99999
  &-field
    background: $white
    padding-bottom: 10px
    margin-bottom: 10px
    &:not(:last-child)
      border-bottom: 1px solid $white
  &-label
    display: block
    font-size: 14px
    line-height: 1em
    margin-bottom: 1em
    color: $dark
  &-input
    border: 1px solid $gray
    background: $white
    width: 100%
    height: 30px
    padding: 0 10px
  &-colors
    display: flex
    justify-content: space-between
    input[type="color"]
      display: none
  &-color
    position: relative
    width: 24px
    height: 24px
    padding: 0
    border: 2px solid $black
    border-radius: 24px
    &.is-black
      background: $black
    &.is-white
      background: $white
    &.is-gray
      background: $gray
    &.is-clear
      background: $white
      border-color: $red
      &:before
        position: absolute
        top: 0
        left: calc(50% - 1px)
        content: ''
        display: block
        width: 2px
        height: 100%
        background-color: $red
        transform: rotate(45deg)
      
      
  &-file
    position: relative
    width: 100%
    height: 30px
    border: 1px solid $gray

    input[type="file"]
      display: none

    label
      display: inline-block
      color: $gray
      padding: 0 30px 0 10px
      width: 100%
      height: 100%
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      font-size: 12px
      margin: 0
      line-height: 30px

    button
      position: absolute
      top: 0
      right: 0
      height: 30px
      width: 30px
      border: 0
      fill: $gray
      background: transparent
      &:hover
        fill: $red

.align.is-sidebar-active
  .align-sidebar
    transform: translateX(0)
  .align-wrapper
    margin-right: 220px

.align-layout
  position: relative
  width: 200px
  height: 150px
  background: $white
  margin: auto
  &:hover
    *:not(input)
      background: $white
  &-padding
    position: absolute
    top: 0
    left: 0
    margin: 37.5px 50px
    width: 50%
    height: 50%
    background: $white
    border: 1px dashed $black
    background: lighten($green, 90%)
    &:hover
      background: lighten($green, 90%) !important
  &-margin
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 1px dashed $black
    background: lighten($orange, 90%)
    .align-layout-input
      height: 30px
    &:hover
      background: lighten($orange, 90%) !important
  &-input
    position: absolute
    border: none
    text-align: center
    background: transparent
    outline: none
    width: 40px
    font-size: 10px
    &.is-top
      left: 50%
      top: 3px
      transform: translate(-50%, 0)
    &.is-bottom
      left: 50%
      bottom: 3px
      transform: translate(-50%, 0)
    &.is-left
      left: 3px
      top: 50%
      transform: translate(0, -50%)
    &.is-right
      right: 3px
      top: 50%
      transform: translate(0, -50%)
