.slider
  position: relative
  display: flex
  align-items: center
  box-sizing: border-box
  margin-bottom: 15px

  &-input
    display: none
    margin-bottom: 0
    padding: 0.6em
    max-width: 70px
    width: 20%
    border: $border solid $black
    border-radius: $borderRadius
    text-align: center
    font-size: 14px
    -webkit-appearance: none
    -moz-appearance: text

    &:focus
      outline: none
      border-color: $secondry

  &-track
    position: relative
    flex: 1
    margin: 0
    width: auto
    height: 10px
    border-radius: 5px
    background: $gray
    will-change: transfom
    ~/.is-strip &
      background-image: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%)

  &-handle
    position: relative
    position: absolute
    top: 0
    left: 0
    will-change: transform
    color: $black
    margin-left: -7px
    margin-top: -2px
    width: 14px
    height: 14px
    border-radius: 10px
    background: transparent
    background-color: currentColor

  &-fill
    width: 100%
    height: 100%
    background-color: $gray
    transform-origin: left top


    