.styler
  background-color: $black
  margin: 0
  width: auto
  list-style: none
  display: flex
  justify-content: center
  align-items: center
  padding: 10px
  &.is-default
    position: absolute
    top: 0
    right: 0
    left: 0
    
  &.is-bubble
    position: fixed
    border-radius: 40px
  li
    &:not(last-child)
      margin-right: 1px
  &.is-visible
    opacity: 1
    visibility: visible

  &.is-hidden
    visibility: hidden
    opacity: 0
  
  &-separator
    content: '|'
    padding: 0 10px

  &-button
    position: relative
    width: 30px
    height: 30px
    padding: 5px
    margin: 0
    border-radius: 15px
    border: 0
    outline: none
    background-color: $black
    fill: $white
    .icon
      fill: inherit
    &.is-active
      fill: $magenta

  &-list
    -webkit-appearance: none
    padding: 5px 10px
    height: 30px
    border-radius: 15px
    background-color: $white
    font-size: 15px
    line-height: 15px

  .icon
    width: 20px
    height: 20px

  &-select
    appearance: none
    height: 30px
    border-radius: 0
    padding: 2px 5px
    margin: 0 7px
    line-height: 26px
    background: $white
    text-align: center
    border-width: 0
    border-color: $dark
    font-size: 14px
    border-bottom: 1px solid $white
    &:hover
      border-bottom-color: $magenta
    &:focus
      outline: none

  &.is-visiable
    display: flex