.styler
  position: fixed
  top: 0
  right: 0
  left: 0
  background-color: $white
  padding: 20px 0
  margin: 0
  width: auto
  list-style: none
  @extends $flexCenter
  li
    &:not(last-child)
      margin-right: 1px
  
  &-separator
    content: '|'
    padding: 0 10px

  &-button
    position: relative
    width: 30px
    height: 30px
    padding: 0
    margin: 0
    border-radius: 15px
    border: 0
    outline: none
    background-color: $white
    fill: $dark
    @extends $flexCenter
    &.is-active
      fill: $blue

  &-list
    -webkit-appearance: none
    padding: 5px 10px
    height: 30px
    border-radius: 15px
    background-color: $white
    font-size: 15px
    line-height: 15px

  &-input
    position: absolute
    width: 100%
    height: 100%
    opacity: 0

  &-color
    height: 30px
    width: 30px
    border: 0
    padding: 0
    box-sizing: border-box

  &-select
    appearance: none
    height: 30px
    border-radius: 0
    padding: 2px 15px
    line-height: 26px
    background: $white
    text-align: center
    border-width: 0
    border-color: $dark
    font-size: 14px

  &.is-visiable
    display: flex