.styler
  background-color: $white
  box-shadow: 0 20px 25px -20px alpha($black, 20%)
  &,
  & ul
    margin: 0
    padding: 0
    width: auto
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

  &-button
    background-color: $white
    fill: $black
    position: relative
    width: 30px
    height: 30px
    padding: 5px
    margin: 0
    border-radius: 15px
    border: 0
    outline: none
    .icon
      fill: inherit

    &.is-active
      fill: $magenta

  .picker-guide
    width: 30px
    height: 30px
    padding: 5px
    svg
      color: $black

  &.is-dark
    background-color: $black
    color: $white
    .styler-button
      background-color: $black
      fill: $white
      &.is-active
        fill: $magenta
    .styler-select
      color: $white
    .styler-icon
      color: $white !important
    .picker-guide svg
      color: $white

  &.is-toolbar
    position: sticky
    top: 0
    right: 0
    left: 0
    z-index: 50
    padding: 10px
    
  &.is-bubble
    padding: 10px
    position: fixed
    z-index: 40
    border-radius: 40px
    box-shadow: 0 0 25px alpha($black, 5%)
    transition: opacity 0.2s

  li
    &:not(last-child)
      margin-right: 1px
  &.is-visible
    opacity: 1
    visibility: visible

  &.is-hidden
    visibility: hidden
    opacity: 0
  
  &-separator
    content: '|'
    padding: 0 10px



  &-list
    -webkit-appearance: none
    padding: 5px 10px
    height: 30px
    border-radius: 15px
    background-color: $white
    font-size: 15px
    line-height: 15px

  &-input
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    top: 0
    right: 0
    bottom: 0
    left: 0

  .icon
    width: 20px
    height: 20px

  &-select
    position: relative
    margin: 0 7px
    svg
      position: absolute
      top: 0
      right: 0
      width: 18px
      height: 18px
      margin: 6px 0
      z-index: -1
      fill: currentColor
    select
      appearance: none
      height: 30px
      border-radius: 0
      padding: 2px 23px 2px 5px
      line-height: 26px
      background: transparent
      text-align: center
      border-width: 0
      font-size: 14px
      color: currentColor
      &:focus
        outline: none

  &.is-visiable
    display: flex


[data-tooltip]
  position: relative

  &:focus
    outline: none
  &:hover
    &:before,
    &:after
      visibility: visible
      opacity: 1

  &:before
    position: absolute
    bottom: -13px
    left: 50%
    z-index: 99999
    display: block
    visibility: hidden
    width: 0
    height: 0
    border-width: 0 7px 7px 7px
    border-style: solid
    border-color: transparent transparent $black transparent
    content: ''
    opacity: 0
    transition: 0.4s
    transform: translate(-50%, 0)
    user-select: none

  &:after
    position: absolute
    bottom: -44px
    left: 50%
    z-index: 99999
    display: block
    visibility: hidden
    padding: 7px
    border-radius: 4px
    background-color: $black
    color: $white
    content: attr(data-tooltip)
    white-space: nowrap
    opacity: 0
    transition: 0.4s
    transform: translate(-50%, 0)
    user-select: none
    font-size: 14px