.align
  &-content
    white-space: normal
    margin: 0 20vw
    margin: 50px 20%
    p
      line-height: 2em
      font-size: 18px
  blockquote
    border-left: 5px solid #AAAAAA
    padding: 10px 0 10px 20px

  hr
    border: 0
    text-align: center
    font-size: 2em
    line-height: 1
    margin: 20px 0
    vertical-align: text-top
    margin: 0
    letter-spacing: 0.5em
    &:before
      display: block
      content: '...'


  &-figure
    margin: 20px 0
    text-align: center
    font-size: 12px
    figcaption
      margin-top: 20px
    &.is-active
      img
        box-shadow: 0 0 25px alpha($black, 5%)
    &.is-normal
      img
        max-width: 500px
        width: 100%
    &.is-float
      float: left
      margin-right: 40px
      &:after
        display: block
        clear: both
        content: ''
      img
        max-width: 500px
        width: 50vw
    &.is-full
      width: 100%
      img
        width: 100%
