/**
 * colorful
 */
$blue = #1700FF
$magenta = #eb008b
$lightBlue = lighten($blue, 80%)
$green = #5FCA16
$lightGreen = lighten($green, 80%)
$red = #F42828
$lightRed = lighten($red, 80%)
$magenta = #EB008B
$orange = #FF9600
$purple = #A324EA
$yellow = #FFD800
$turquoise = #1DE9CF
/**
 * grayscale
 */
$white = #FFFFFF
$gray = #AAAAAA
$lightGray = lighten($gray, 70%)
$black = #000000
$dark = #0a1829
$shadow = alpha($black, 5%)
$mainColor = $black

$margin = 10px
$padding = 0.5em
$border = 1px
$borderRadius = 4px
